<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon2.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <img class="photo" src="./img/robot.jpg" alt="Image">
        {{>footer}}
    </body>
</html>