<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/icon2.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p class="error">{{errorMessage}}</p>
        {{>footer}}
    </body>
</html>